.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
}

.card {
  height: 100%;
  background: #333;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 8px #34d399;
  transition: transform 0.2s ease-in-out;
  position: relative;

  &:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }

  h3 {
    font-size: 1.2rem;
    color: #eb1b1b;
    margin-bottom: 0.5rem;
  }

  p {
    color: #fff;
  }
}

.btns {
  right: 15px;
  bottom: 10px;
}

.field label {
  font-weight: 600;
  color: var(--text-color);
}

.p-dialog .p-dialog-content {
  padding: 1.5rem;
}

.p-dialog .p-dialog-footer {
  padding: 1rem 1.5rem;
  border-top: 1px solid var(--surface-border);
}

.p-button-sm {
  padding: 0 !important;
}

.p-button-sm:last-child {
  margin-left: .7rem !important;
}


// Custom toast styling
::ng-deep .custom-toast {
  .p-toast-message {
    font-size: 1.3rem !important;
    padding: 1.5rem !important;
    min-width: 400px !important;
  }

  .p-toast-message-content {
    padding: 0.5rem 0 !important;
  }

  .p-toast-summary {
    font-size: 1.5rem !important;
    font-weight: bold !important;
    margin-bottom: 0.5rem !important;
  }

  .p-toast-detail {
    font-size: 1.2rem !important;
    line-height: 1.5 !important;
  }
}
